@import '_AppWideVariables';

$appmenu-bg-color: hsla(44, 55%, 85%, 1);

.application_menu {
  padding-top: $appmenu-top-padding;
  background: $appmenu-bg-color;
  font-size: $small-text-size;
  line-height: 140%;
}

.site_links {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid $subtle-keyline-color;
}
