$proportional-font-stack: Lato, 'DejaVu Sans', Verdana, sans;
$monospace-font-stack: 'Source Code Pro', 'DejaVu Sans Mono', 'Lucida Console', monospace;
$subtle-keyline-color: hsla(0, 0%, 85%, 1);
$faint-keyline-color: hsla(0, 0%, 95%, 1);