$proportional-font-stack: Lato, 'DejaVu Sans', Verdana, sans;
$monospace-font-stack: 'Source Code Pro', 'DejaVu Sans Mono', 'Lucida Console', monospace;
$subtle-keyline-color: hsla(0, 0%, 85%, 1);
$faint-keyline-color: hsla(0, 0%, 95%, 1);
$paragraph-spacing: 0.4em;

@mixin invisible {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0 -1px -1px 0;
  color: transparent;
  background: transparent none;
}

%subtle_box {
  background: $faint-keyline-color;
  border: 1px solid $subtle-keyline-color;
  border-radius: 2px;
}