@import '_AppWideVariables';
@import '_ThreeColumnLayout';


.content_area > header {
  padding: $main_header_top_padding $side_padding 0;

  h1 {
    font-size: $main_header_font_size;
    line-height: 120%;
  }
}

.content_container {
  line-height: 140%;

  h1, h2, h3, h4, h5, h6 {
    line-height: 140%;
    margin-top: 0.6em;
  }
  h1 {
    margin-top: 0;
    font-size: 200%;
  }
  h2 {
    font-size: 160%;
  }
  h3 {
    font-size: 140%;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
}

.main_content, .main_content_asides {
  padding: 1em $side_padding 2em;
}
.main_content_asides {
  background: $faint-keyline-color;
  font-size: $small-text-size;
  line-height: 140%;
}

