@import '_Reset';
@import '_AppWideVariables';
@import '_ContentStyles';
@import '_PageHeader';

body {
  font-family: $standard-fonts;
  margin: 1em;
}
.ticket_description {
  white-space: pre-line;
}