@import '_Reset';
@import '_AppWideVariables';
@import '_PageFooter';
@import '_ContentStyles';
@import '_UnexpectedErrorModal';

html {
  height: 100%;
}
body {
  font-family: $proportional-font-stack;
  min-height: calc(100% - #{$footer-height});
  position: relative;
}
