@import '_Reset';
@import '_AppWideVariables';
@import '_ContentStyles';
@import '_PageHeader';

body {
  font-family: $proportional-font-stack;
  margin: 1em;
}
.ticket_detail {
  .description_content,
  .comment_content {
    font-family: $monospace-font-stack;
    white-space: pre-line;
  }
}
table.ticket_list {
  border: 1px solid hsla(0, 0%, 85%, 1);
  border-collapse: collapse;
  
  td, th {
    padding: 0.2em 0.4em;
    border-bottom: 1px solid hsla(0, 0%, 95%, 1);
  }
  tr:last-child td, th {
    border-color: hsla(0, 0%, 85%, 1);
  }
  th {
    font-weight: bold;
  }
}