@import '_AppWideVariables';
@import '_ScreenMediaQueries';

.agiil_query label[for="query_text"] {
  display: none;
}
.agiil_query #query_text {
  display: inline-block;
  width: calc(100% - 100px);
  font-size: 105%;
  box-sizing: border-box;
  padding: 0.1em;
}
.agiil_query .perform_search {
  width: 100px;
  font-size: 105%;
  padding: 0.1em;
  float: right;
}
.agiil_query {
  overflow: auto;
  margin-bottom: 0.2em;
}

table.ticket_list {
  border: 1px solid $subtle-keyline-color;
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
  }
  th.TicketReference {
    text-align: center;
  }
  td, th {
    padding: 0.2em 0.4em;
    border-bottom: 1px solid $faint-keyline-color;
  }
  tr:last-child td, th {
    border-color: $subtle-keyline-color;
  }
  th {
    font-weight: bold;
  }
  @media #{$desktop-media} {
    col.reference {
      width: 5em;
    }
    col.created_by, col.created_date {
      width: 8em;
    }
  }
  @media #{$tablet-or-smaller-media} {
    td.TicketCreator, td.TicketTimestamp,
    th.TicketCreator, th.TicketTimestamp {
      display: none;
    }
    td.TicketReference {
      font-size: $smaller-text-size;
    }
    col.reference {
      width: 3em;
    }
  }
}

