@import '_Forms';
@import '_RichDescriptions';
@import '_RelationshipTables';
@import '_AppWideVariables';

.content_area>header .ticket_identity {
  font-size: $small-text-size;
  margin: 0 0 0.4em;
  color: $subtle-text-color;
}
.ticket_comments {
  @include sunken;
  
  margin-top: 1em;

  .comment_list>li, div.add_a_comment {
    @include raised;
    background: white;
    margin: 0 0 5px;
    border: 1px solid $subtle-keyline-color;
    padding: 0.3em;
  }
  div.add_a_comment h2 {
    margin-top: 0;
  }
  form.add_a_comment {
    @include full_page_form;
  }
}
.ticket_comments>header {
  @extend .screen_reader_only;
}
.description_content,
.comment_content {
  @include rich_description;
}