<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSF.Collections.EventRaising" version="1.1.0" targetFramework="net471" />
  <package id="CSF.Entities" version="2.0.3" targetFramework="net471" />
  <package id="CSF.Enums" version="7.0.0" targetFramework="net471" />
  <package id="CSF.Reflector" version="3.0.0" targetFramework="net471" />
  <package id="CSF.Specifications" version="2.0.0" targetFramework="net471" />
  <package id="CSF.Utils" version="6.1.1" targetFramework="net45" />
  <package id="CSF.Validation" version="2.0.0" targetFramework="net471" />
</packages>