<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="deleporter" type="DeleporterCore.Configuration.DeleporterConfigurationSection, Deleporter" />
  </configSections>
  <deleporter WebHostPort="8080" RemotingPort="38473" RelativePathToWebApp="Agiil.Web/" />
</configuration>