<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSF.Screenplay" version="0.1.0-alpha1" targetFramework="net45" />
  <package id="Deleporter" version="0.1.9.15416" targetFramework="net45" />
  <package id="Deleporter.Client" version="0.1.9.15416" targetFramework="net45" />
</packages>