<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="RemoveAll" />
    <add name="Agiil_Testing"
         connectionString="Data Source=Tests\Temp\Agiil.Tests.Domain.db;Version=3;"
         providerName="System.Data.SQLite"
         xdt:Transform="Insert" />
  </connectionStrings>
</configuration>
