<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net461" />
  <package id="AutoFixture" version="3.50.2" targetFramework="net45" />
  <package id="AutoFixture.NUnit3" version="3.50.2" targetFramework="net45" />
  <package id="AutoMapper" version="6.0.2" targetFramework="net471" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="CSF.Entities" version="2.0.3" targetFramework="net471" />
  <package id="CSF.Enums" version="7.0.0" targetFramework="net471" />
  <package id="CSF.ORM" version="2.0.3" targetFramework="net471" />
  <package id="CSF.ORM.Entities" version="2.0.3" targetFramework="net471" />
  <package id="CSF.Reflector" version="3.0.0" targetFramework="net471" />
  <package id="CSF.Specifications" version="2.0.0" targetFramework="net471" />
  <package id="CSF.Utils" version="6.1.1" targetFramework="net45" />
  <package id="CSF.Validation" version="2.0.0" targetFramework="net471" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net471" />
  <package id="Moq" version="4.5.30" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net45" />
  <package id="NUnit" version="3.6.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.105.0" targetFramework="net471" />
</packages>