.labelChooser {
    position: relative;
}
.SelectedLabels {
    display: inline-block;
}
.SelectedLabels li {
    padding: 2px 4px;
    margin: 0 4px 0 0;
    background: #BBB;
    display: inline-block;
    border-radius: 2px;
    cursor: default;
}
.remove {
    padding: 1px;
    margin: 0 0 0 4px;
    line-height: 100%;
    border: 0;
    background: transparent none;
    cursor: pointer;
}
.remove:hover {
    color: #55F;
}
.SelectedLabels li.forRemoval {
    background: #999;
}
.LabelSuggestions {
    position: absolute;
    top: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid #999;
}
.noSuggestions {
    display: block;
}
.emptySuggestions {
    display: block;
}
.loading {
    background: #EEE;
}
.hidden {
    display: none;
}
.LabelSuggestion {
    padding: 4px 8px;
}
.selected {
    background: #55F;
    color: #FFF;
}
.ticketCount {
    display: block;
}
.ticketCount.open {
    display: block;
}
.ticketCount.closed {
    display: block;
}