table.ticket_list {
  @extend %subtle_table;
  width: 100%;
  
  th.TicketReference {
    text-align: center;
  }
  a {
    @include hyperlink;
  }
  @media #{$desktop-media} {
    col.TicketReference {
      width: 5em;
    }
    col.TicketCreator, col.TicketTimestamp {
      width: 8em;
    }
  }
  @media #{$tablet-or-smaller-media} {
    col.TicketCreator, col.TicketTimestamp, col.TicketType,
    td.TicketCreator, td.TicketTimestamp, td.TicketType,
    th.TicketCreator, th.TicketTimestamp, th.TicketType {
      display: none;
    }
    td.TicketReference {
      font-size: $smaller-text-size;
    }
    col.TicketReference {
      width: 4em;
    }
  }
}
 
