.suggestions {
    display: block;
}
.ineligible {
    display: block;
}
.empty {
    display: block;
}
.loading {
    display: block;
}
.feedback {
    display: block;
}
.suggestion {
    display: block;
}
.selected {
    display: block;
}