.suggestions {
    display: block;
}
.ineligible {
    display: block;
}
.empty {
    display: block;
}
.loading {
    background: #EEE;
}
.feedback {
    display: block;
}
.suggestion {
    padding: 4px 8px;
}
.selected {
    background: #55F;
    color: #FFF;
}