<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CSF">
      <sectionGroup name="Zpt">
        <section name="PluginConfigurationSection" type="CSF.Zpt.PluginConfigurationSection, CSF.Zpt" />
        <sectionGroup name="ExpressionEvaluators">
          <sectionGroup name="CSharpExpressions">
            <section name="ExpressionConfigurationSection" type="CSF.Zpt.ExpressionEvaluators.CSharpExpressions.ExpressionConfigurationSection, CSF.Zpt.ExpressionEvaluators.CSharpExpressions" />
          </sectionGroup>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="Agiil">
      <section name="OAuth" type="Agiil.Web.Services.Config.OAuthConfigurationSection, Agiil.Web" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!-- Under Linux/Mono the PublicKeyToken should be 'b77a5c561934e089', sometimes NuGet changes it -->
        <add assembly="System.Dynamic, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
  </system.web>
  <Agiil>
    <!-- The secret key below is not for production use! -->
    <OAuth AccessTokenLifetimeMinutes="480" Base64JwtSecretKey="VGhpcyBpcyBhIDU0IHF1aXRlIGxvbmcgc2VjcmV0IGtleQo=" />
  </Agiil>
  <CSF>
    <Zpt>
      <PluginConfigurationSection DefaultHtmlDocumentProvider="CSF.Zpt.DocumentProviders.HtmlZptDocumentProvider" DefaultXmlDocumentProvider="CSF.Zpt.DocumentProviders.XmlLinqZptDocumentProvider" DefaultExpressionEvaluator="CSF.Zpt.ExpressionEvaluators.PathExpressions.PathExpressionEvaluator">
        <PluginAssemblies>
          <Assembly Name="CSF.Zpt.DocumentProviders.XmlLinq" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.CSharpExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.NotExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.PathExpressions" />
          <Assembly Name="CSF.Zpt.ExpressionEvaluators.StringExpressions" />
          <Assembly Name="CSF.Zpt.DocumentProviders.HtmlHAP" />
        </PluginAssemblies>
      </PluginConfigurationSection>
      <ExpressionEvaluators>
        <CSharpExpressions>
          <ExpressionConfigurationSection>
            <Assemblies>
              <Assembly Name="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </Assemblies>
            <Namespaces>
              <Namespace Name="System" />
              <Namespace Name="System.Linq" />
            </Namespaces>
          </ExpressionConfigurationSection>
        </CSharpExpressions>
      </ExpressionEvaluators>
    </Zpt>
  </CSF>
  <runtime>  
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>  
        <assemblyIdentity name="Autofac"  
                          publicKeyToken="17863af14b0044da"  
                          culture="neutral" />  

        <bindingRedirect oldVersion="3.0.0.0-3.5.2.0" newVersion="3.5.2.0" />  
      </dependentAssembly>  
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>