<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation>
      <assemblies>
        <add xdt:Transform="RemoveAll" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             xdt:Transform="Insert" />
        <add assembly="System.Dynamic, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             xdt:Transform="Insert" />
      </assemblies>
    </compilation>
  </system.web>
  <Agiil>
    <DependencyInjection xdt:Transform="Remove" />
    <DependencyInjection FactoryTypeName="Agiil.Web.App_Start.WebAppTestingContainerFactory, Agiil.Web.TestBuild"
                         xdt:Transform="Insert" />
  </Agiil>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" />
    <add name="Agiil"
         connectionString="Data Source=Temp/Agiil.db;Version=3;"
         xdt:Transform="Insert" />
    <add name="Agiil_Testing"
         connectionString="Data Source=Temp/Agiil.testing.db;Version=3;"
         xdt:Transform="Insert" />
  </connectionStrings>
</configuration>
