{
    "presets": [
        [ "@babel/preset-env", { "useBuiltIns": "usage" } ],
        "@babel/flow",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining"
    ]
}